[run]
source = cart
branch = True
omit = 
    */migrations/*
    */tests/*
    */test_*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
show_missing = True
skip_covered = False

[html]
directory = htmlcov
