# Python
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# Testing & coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/

# Django
*.log
local_settings.py
db.sqlite3

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Type checking
.mypy_cache/
.ruff_cache/

# Docs
/site
docs/_build/

# Env files
.env